.body_backgorund {
    background-image: url("unnamed.gif");
    background-position: center;
    background-size: 1200px;
  }
  body{
    cursor: pointer;
    background-color: #dba615;
  }
  h1
  {
      color: rgb(0, 26, 255); 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  